*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #F5F5F5;
  line-height: 113%;
  background-color: #F5F5F5;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [centr-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [centr-end] minmax(6rem, 1fr) [full-end];
}

.title-1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: white;
}

.title-2 {
  font-size: 4rem;
  font-weight: 700;
  color: #F5F5F5;
  line-height: 100%;
}

.title-3 {
  font-size: 1.9rem;
  font-weight: 700;
  color: #425844;
}
.title-3_white {
  color: white;
}
.title-3_green-light {
  color: #61A568;
}

.title-4 {
  font-size: 1.4rem;
  font-weight: 300;
  color: #61A568;
}

.cards {
  padding: 15rem 0;
  background-color: #F5F5F5;
  grid-column: centr-start/centr-end;
  display: grid;
  grid: repeat(auto-fit, minmax(25rem, 1fr))/repeat(auto-fit, minmax(25rem, 1fr));
  gap: 4rem 6rem;
}

.card {
  background-color: #101D2C;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card__img {
  width: 100%;
  grid-column: 1/-1;
}
.card__title {
  grid-column: 1/-1;
  background-color: #425844;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  width: 80%;
  justify-self: center;
  transform: translateY(-50%);
}
.card__svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.card__btn {
  grid-column: 1/-1;
  width: 100%;
}

.content {
  margin-bottom: 4.5rem;
  margin-left: 2rem;
  display: flex;
}

.content p {
  font-size: 1.6rem;
  color: #F5F5F5;
  font-weight: 300;
}

.header {
  background-color: #101D2C;
  grid-column: full-start/col-end 6;
}

.logo {
  display: block;
  margin-bottom: 8rem;
}
.logo__img {
  display: block;
  margin: 0 auto;
}

.features {
  padding: 15rem 0;
  background-color: #F5F5F5;
  grid-column: centr-start/centr-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 3rem 4rem;
}

.feature {
  display: grid;
  grid: min-content min-content/min-content 1fr;
  gap: 1.5rem 2.5rem;
}
.feature__icon {
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/-1;
  transform: translateY(-1rem);
}
.feature__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 113%;
  color: #425844;
}

.gamers {
  background-color: #101D2C;
  grid-column: col-start 7/full-end;
}

.banner-img {
  grid-column: full-start/col-end 4;
  background-color: #101D2C;
  background: url(../img/background.png) center/cover no-repeat;
  display: grid;
  grid: repeat(24, 1fr)/repeat(16, 1fr);
}
.banner-img__img-1 {
  width: 100%;
  grid-area: 3/3/12/15;
}
.banner-img__img-2 {
  width: 100%;
  grid-area: 10/5/23/17;
  transform: translateX(3.5rem);
}
.banner-text {
  background-color: #101D2C;
  grid-column: col-start 5/full-end;
  padding: 0 4vw;
  display: grid;
  align-content: center;
  justify-items: start;
}
.banner-text__text {
  margin-bottom: 4rem;
}

.sidebar {
  background-color: #425844;
  grid-row: 1/-1;
  grid-column: sidebar-start/sidebar-end;
  padding-top: 3.5rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.nav-menu {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  top: 0;
  left: 8rem;
  height: 30vh;
  z-index: 7;
  transition: 1s all;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  background: black;
  grid-column: sidebar-start/sidebar-end;
}

.hamburger {
  width: 30px;
  position: fixed;
  top: 40px;
  left: 25px;
  height: 14px;
}
.hamburger__span {
  height: 0.2rem;
  width: 100%;
  display: block;
  background-color: #F5F5F5;
  transition: 1s all;
}
.hamburger__span:not(:last-child) {
  margin-bottom: 0.4rem;
}

.hamburger_active .hamburger__span {
  margin-bottom: -0.2rem;
}
.hamburger_active .hamburger__span:nth-child(1) {
  transform: translateY(0.3rem) rotate(-45deg);
}
.hamburger_active .hamburger__span:nth-child(2) {
  display: none;
}
.hamburger_active .hamburger__span:nth-child(3) {
  transform: translateY(0.3rem) rotate(45deg);
}

.gallery {
  padding: 1rem;
  background-color: #101D2C;
  grid-column: full-start/full-end;
  display: grid;
  grid: repeat(7, 1fr)/repeat(8, 1fr);
  gap: 1rem;
  grid-template-areas: "gal-1 gal-1 gal-2 gal-2 gal-2 gal-3 gal-4 gal-4" "gal-1 gal-1 gal-2 gal-2 gal-2 gal-3 gal-4 gal-4" "gal-5 gal-5 gal-2 gal-2 gal-2 gal-8 gal-8 gal-9" "gal-5 gal-5 gal-6 gal-6 gal-7 gal-8 gal-8 gal-9" "gal-5 gal-5 gal-6 gal-6 gal-13 gal-13 gal-13 gal-9" "gal-10 gal-11 gal-11 gal-12 gal-13 gal-13 gal-13 gal-14" "gal-10 gal-11 gal-11 gal-12 gal-13 gal-13 gal-13 gal-14";
}

.gal {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gal-1 {
  grid-area: gal-1;
}

.gal-2 {
  grid-area: gal-2;
}

.gal-3 {
  grid-area: gal-3;
}

.gal-4 {
  grid-area: gal-4;
}

.gal-5 {
  grid-area: gal-5;
}

.gal-6 {
  grid-area: gal-6;
}

.gal-7 {
  grid-area: gal-7;
}

.gal-8 {
  grid-area: gal-8;
}

.gal-9 {
  grid-area: gal-9;
}

.gal-10 {
  grid-area: gal-10;
}

.gal-11 {
  grid-area: gal-11;
}

.gal-12 {
  grid-area: gal-12;
}

.gal-13 {
  grid-area: gal-13;
}

.gal-14 {
  grid-area: gal-14;
}

.footer {
  padding: 8rem 3rem;
  border-top: solid 0.3rem #F5F5F5;
  background-color: #101D2C;
  grid-column: full-start/full-end;
  display: grid;
}

.nav__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  gap: 3.5rem;
}
.nav__link:link, .nav__link:visited {
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: #F5F5F5;
  text-align: center;
  display: inline-block;
  transition: 0.3s all;
}
.nav__link:hover, .nav__link:active {
  color: #425844;
  transform: translateY(-0.3rem);
}

.btn {
  padding: 1.5rem 3rem;
  background-color: #61A568;
  color: #F5F5F5;
  text-transform: uppercase;
  border: 0;
  font-size: 1.6rem;
  font-weight: 700;
}
.btn:hover {
  background-color: #425844;
}

.margin-bottom-3rem {
  margin-bottom: 3rem;
}/*# sourceMappingURL=style.css.map */